body {
    background-color: #DEDEDE !important;
}

.navbar-toggler {
    border: none !important;
    color: transparent !important;
}

.svg-button-ar {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 66px;
}

.svg-button-xr {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 66px;
}

.svg-button-contact {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 66px;
}

.svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

.container-fluid {
    --bs-gutter-x: 3.5rem !important;
}

.icon-img {
    width: 30px;
    height: auto;
}

.brand-logo {
    width: 67%;
    height: auto;
}

.container {
    --bs-gutter-x: 0rem !important;
}

.main-img {
    background-image: url(./img/главная-картинка---фон_десктоп.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.custom-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 30 30\'%3e%3cpath stroke=\'rgb(255, 255, 255)\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' stroke-width=\'2\' d=\'M4 7h22M4 15h22M4 23h22\'/%3e%3c/svg%3e');
}

.phone {
    width: 100%;
}

.ar-icon {
    margin-top: -45px;
}

.nav-social {
    min-width: 80px;
    width: 0px;
    justify-content: space-between;
    margin-bottom: 1em;
}

.navbar-color {
    background-color: rgb(13 39 65);
}

.navbar {
    --bs-navbar-padding-y: 1.5rem !important;
}

.navbar-brand {
    margin-left: 0;
}

.nav-link-list {
    text-wrap: nowrap;
    margin-left: auto;
    margin-right: 36px;
    font-size: 16px;
}

.collapse-top {
    margin-top: 2px;
}

.navbar-toggler {
    margin-right: -20px;
}

.gamburger {
    display: flex;
}

.row-top {
    margin-top: 34px;
}

.hand-img-top {
    margin-top: 60px !important;
}

.dynamic-column {
    margin-top: 60px !important;
}

.text {
    text-align: center;
    color: white;
}

.button-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.fz-12 {}

.fz-23 {}

.button-text p {
    color: white;
    margin-left: 10px;
}

@media (min-width: 1024px) {
    .navbar-brand {
        margin-left: 40px;
    }

    .nav-social {
        margin-bottom: 0em !important;
    }
}

@media (min-width: 1920px) {
    .brand-logo {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .phone {
        width: 116%;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .svg-button-contact {
        /* margin-top: 15px; */
    }
}

@media (max-width: 540px) {
    .phone {
        width: 96%;
        margin-left: -8vh;
    }

    .svg-button-contact-top {
        margin-top: 4vh;
        /* text-align: center; */
    }

    .svg-button-contact {
        height: 63px !important;
        /* margin-top: 0px !important; */
    }

     .svg-button-ar {
        /* height: 59px; */
    } 
    
    .svg-button-xr {
        /* height: 59px; */
    }

    .row-gap {
        --bs-gutter-x: -1.5rem !important;
    }


}



.phone-buttons {
    margin-top: -55px;
}

.c-mt-div {
    margin-top: 1.5rem;
}

.c-mt-p {
    margin-top: 3rem;
}

.svg-button-top {
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .svg-button-contact-top {
        /* margin-top: 10vh !important; */
    }
}

@media (max-width: 414px) {
    .svg-button-contact-top {
        margin-top: 1vh !important;
    }

    .svg-button-top {
        margin-bottom: 7px;
    }
}

@media (max-width: 767px) {
    .phone {
        width: 75%;
        margin-left: -13px;
        margin-top: 17px;
        margin-bottom: 55px;
    }

    .phone-buttons {
        margin-top: -160px !important; 
        width: 93% !important;
        margin-left: 13px !important;
    }

    .svg-button-contact-top {
        margin-top: 3vh;
    }

    .svg-button-contact {
        /* height: 69.5px;
        margin-left: 3px;  */
    }

    .row-gap {
        --bs-gutter-x: -1.5rem !important;
    }
}

@media (max-width: 1401px) {
    .dynamic-column {
        margin-top: 0px !important;
    }

    .c-mt-div {
        margin-top: 2rem !important;
    }
    
    .c-mt-p {
        margin-top: 1rem !important;
    }
}

@media (max-width: 990px) {
    .svg-button-contact {
        margin-top: -20px;
    }

    .row-top {
        margin-top: -20px;
    }

    .fz-12 {
        font-size: 12px;
    }

    .fz-23 {
        font-size: 23px;
    }
}

@media (max-width: 1024px) {
    .brand-logo {
        width: 100%
    }

    .gamburger {
        margin-right: 0%;
    }

    .nav-link-list {
        font-size: 15px;
    }

    .nav-social {
        margin-bottom: 0em !important;
    }

    .main-img {
        background-image: url('./img/главная-картинка---телефон-моб-версия.jpg');
        background-size: cover;
    }
}