.search-input-close-icon {
	margin-top: 7px;
	/* -30px конечно не хорошо, но ничего не придумал */
	margin-left: -30px;
	cursor: pointer;
	z-index: 100;
}

#search {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; 
    padding: 10px;
}

#scrollTopButton {
    margin-left: 10px;
	font-size: 30px;
    cursor: pointer;
	display: none;
}

.dropdown-toggle::after {
	border-top: 0.0em solid !important;
	border-right: -0.1em solid transparent !important;
	border-bottom: 0 !important;
	border-left: .0em solid transparent !important;
}

.ifraime-wrapper {
	cursor: pointer;
}

.search {
	display: flex !important;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
}

.footer-company {
	display: flex !important;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.card-padding {
	padding: 10px;
}

.card-img-top {
	height: 175px;
}

.card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-size {
	width: 16rem;
}

.card-body-text {
	font-family: none;
	text-align: center;
}

.empty-content {
	min-height: calc(100vh - 200px);
}

.footer-color {
	background-color: white;
}

.phone {
	text-decoration: none;
	color: black;
}

.footer-separator {
	margin-bottom: 24px;
}

@media (max-width: 767px) {
	.card-list {
		justify-content: center;
	}
}

.ifr-preview {

	width: 100%;
}


.img-preview {
	width: 100%;

}