.search-input-close-icon {
	margin-top: 7px;
	margin-left: -30px;
	cursor: pointer;
	z-index: 100;
}

.card {
	margin-left: 25px;
}

.card-img-top {
	height: 175px;
}

.card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-size {
	width: 18rem;
}

.card-body-text {
	font-family: none;
	text-align: center;
}