.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: left;
    height: 90%;
    font-size: 22px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    line-height: 36px;
}

.main-header {
    text-align: left;
    width: 80%;
}

.main-description {
    text-align: left;
    width: 80%;
    margin-top: 10px;

}

.ar-button {
    width: 180px;
    height: 50px;
    font-size: 22px;
}



.ar-main {
    width: 100%;

}

.session-buttons {
    top: 50px;
    left: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.option-buttons {
    top: 80px;
    left: 0;
    position: absolute;
    width: 70px;
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow-y: auto;
}

.session-button {

    background-color: rgba(255, 255, 255, 0.2);
    white-space: nowrap;
    padding: 0;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 16px;
    color: black;

    line-height: 36px;
    border-radius: 25%;
    border: 1px solid #DADCE0;

    margin-top: 5px;

    width: 70px;
    height: 70px;
    font-size: 18px;
}

.session-button__image {
    width: 70px;
    height: 70px;
    border-radius: 25%;
}


.session-close {
    position: absolute;
    right: 32px;
    top: 42px;
    width: 32px;
    height: 32px;
    opacity: 1;
}

.session-close:hover {
    opacity: 1;
}

.session-close:before,
.session-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: black;
}

.session-close:before {
    transform: rotate(45deg);
}

.session-close:after {
    transform: rotate(-45deg);
}


@keyframes moveInFigureEight {
    0% {
        transform: translate(150px, 150px);
    }

    12.5% {
        transform: translate(200px, 100px);
    }

    25% {
        transform: translate(225px, 75px);
    }

    37.5% {
        transform: translate(200px, 50px);
    }

    50% {
        transform: translate(150px, 0px);
    }

    62.5% {
        transform: translate(100px, 50px);
    }

    75% {
        transform: translate(75px, 75px);
    }

    87.5% {
        transform: translate(100px, 100px);
    }

    100% {
        transform: translate(150px, 150px);
    }
}

.place-finder-hands {


    background-image: url("../img/ar_hand_prompt.png");

    animation: moveInFigureEight 4s linear infinite;
    width: 50px;
    height: 50px;

}

.place-finder {
    position: absolute;
    background-image: url("../img/51470-200.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
    width: 300px;
    height: 200px;
    top: 40%;
    left: 20%
}

.qr-code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}


.toolbar {
    bottom: 150px;
    right: 10px;
    position: absolute;
    width: 70px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.toolbar__buttons {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.toolbar_button__place {
    align-self: flex-end;
    justify-content: flex-end;
}

.toolbar_button {
    background-color: rgba(255, 255, 255, 0.2);
    white-space: nowrap;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;


    line-height: 36px;
    border-radius: 23px;
    border: 1px solid #DADCE0;

    width: 70px;
    height: 70px;
    font-size: 18px;
    margin-bottom: 10px;

}


.slider-container {
    display: flex;
    justify-content: center;
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    height: 220px;
    vertical-align: bottom;

}


.hidden {
    display: none;
}

.loading-model
{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    color: white;


}

.log{
    position: absolute;
    top: 50px;
    left: 45%;
}