.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-size: 22px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    line-height: 36px;
}

.main-header {
    text-align: center;
    width: 80%;
}

.main-description {
    text-align: center;
    width: 80%;
    margin-top: 10px;

}

.ar-button {
    width: 180px;
    height: 50px;
    font-size: 22px;
}



.ar-main {
    width: 100%;

}

.session-buttons {
    bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}

.session-button {

    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 0;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 16px;
    color: black;
    margin-left: 20px;

    line-height: 36px;
    border-radius: 50%;
    border: 1px solid #DADCE0;

    width: 80px;
    height: 80px;
    font-size: 18px;
}

.session-button__image {

    width: 80px;
    height: 80px;

    border-radius: 50%;

}


.session-close {
    position: absolute;
    right: 32px;
    top: 42px;
    width: 32px;
    height: 32px;
    opacity: 1;
}

.session-close:hover {
    opacity: 1;
}

.session-close:before,
.session-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: black;
}

.session-close:before {
    transform: rotate(45deg);
}

.session-close:after {
    transform: rotate(-45deg);
}


.place-finder {

    z-index: 999;
    bottom: 45%;
    left: 45%;

    position: absolute;
    background-color: rgba(255, 255, 255, 0);

    border: 6px solid #f3f3f3;
    /* Light grey */
    border-top: 6px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.qr-code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}